@import 'styles/_variables.scss';

.header {
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header;
  @extend .header-padd;

  &__brand {
    min-width: 230px;
    text-decoration: none;
    @media screen and (max-width: $medium-breakpoint) {
      flex: 1;
    }
    @media screen and (max-width: $small-breakpoint) {
      min-width: unset;
      img {
        max-width: 200px;
      }
    }
  }

  &__nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

    &__nav-links {
      display: flex;
      align-items: center;
      list-style: none;
      &__item {
        font-family: $sansFamily;
        font-size: 0.9rem;
        color: $white;
        margin-right: 1rem;
      }
    }
    @media screen and (max-width: $medium-breakpoint) {
      display: none;
    }
  }
  &__menu {
    color: $white;

    @media screen and (min-width: $medium-breakpoint) {
      display: none;
    }
  }
  @media screen and (max-width: $medium-breakpoint) {
    height: 75px;
  }
}

.dropdown {
  margin-left: 0.4rem;
  border-bottom: 2px dotted $greyMed;
  padding-bottom: 0.15rem;
  &:hover {
    color: $accentColor;
    border-color: $greyLight;
  }
}
