@import '../../styles/_variables.scss';

header {
  background-color: $primaryColor;
  display: flex;
  align-items: stretch;
  height: $header;
}

.nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @extend .header-padd;

  &__brand {
    min-width: 230px;
    text-decoration: none;
  }

  &__nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    &__item {
      font-family: $sansFamily;
      font-size: 0.9rem;
      color: $white;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
.shopping-cart {
  position: relative;
  display: flex;
  &__cart {
    width: 36px;
    height: 36px;
    fill: $white;
  }
  span {
    background-color: $accentColor;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    color: $black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 12px;
  }
}
.dropdown {
  margin-left: 0.4rem;
  border-bottom: 2px dotted $greyMed;
  padding-bottom: 0.15rem;
  &:hover {
    color: $accentColor;
    border-color: $greyLight;
  }
}
