@import 'styles/_variables.scss';
h1.title {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: $secondaryColor;
  margin-bottom: 3rem;

  @media screen and (max-width: $small-breakpoint) {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
