@import '../../styles/_variables.scss';
.cart {
  display: flex;
  align-items: flex-start;

  &__items {
    flex: 0 0 60%;
    padding-right: 3rem;
  }

  &__total {
    flex: 0 0 40%;
    align-items: center;
    padding: 2rem;
    border-radius: 3px;
    background-color: $greyLightest;

    &__price {
      font-size: 1.3rem;
      border-top: 1px solid lighten($greyMed, 30%);
    }
    h3 {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      span {
        font-size: 0.9rem;
        color: $greyMed;
      }
    }

    ul {
      list-style: none;
      margin: 1rem 0 4rem;
      padding: 0;
      li {
        padding: 0.4rem 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @media screen and (max-width: $small-breakpoint) {
    display: block;

    &__items {
      padding-right: 0;
    }
  }
}
