@import '../../styles/_variables.scss';
.cart {
  display: flex;

  &__title {
    font-style: italic;
    font-weight: 400;
    color: $secondaryColor;
    margin: 0 1rem 1rem;
  }

  &__items {
    flex: 0 0 60%;
    padding-right: 3rem;
  }

  &__total {
    flex: 0 0 40%;
    align-items: center;
    padding: 2rem;
    border-radius: 3px;
    background-color: $greyLightest;
  }
}
