@import '../../styles/_variables.scss';
.cart {
  display: flex;
  align-items: flex-start;

  &__title {
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: $secondaryColor;
    margin-bottom: 3rem;
  }

  &__items {
    flex: 0 0 60%;
    padding-right: 3rem;
  }

  &__total {
    flex: 0 0 40%;
    align-items: center;
    padding: 2rem;
    border-radius: 3px;
    background-color: $greyLightest;
  }

  @media screen and (max-width: $small-breakpoint) {
    display: block;

    &__items {
      padding-right: 0;
    }
  }
}
