@import 'styles/_variables.scss';

.product-card {
  margin: 2rem 1rem;
  width: calc((100vw - 6rem - 20vw) / 3);

  @media screen and (max-width: $large-breakpoint) {
    width: calc((100% - 6rem) / 2);
  }

  @media screen and (max-width: $small-breakpoint) {
    width: 100%;
  }

  &__image {
    background-color: $white;
    height: calc((100vw - 6rem - 20vw) / 3 * 1.3);
    position: relative;
    border: 2px solid #ededed;
    margin-bottom: 1rem;
    box-shadow: 0 0 16px 0 rgba($color: $black, $alpha: 0.04);
    overflow: hidden;

    span {
      background-color: rgba($color: $white, $alpha: 0.6);
      padding: 0.5rem;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      z-index: 1;
    }

    a {
      position: absolute;
      top: 1rem;
      right: 1rem;
      opacity: 0;
      z-index: 1;
      transform: translateX(1rem);
      transition: all ease-in-out 0.35s;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      transform: scale(0.72);
      opacity: 0.9;
      object-position: center;
      transition: all ease-in-out 0.28s;
    }

    &__img {
      width: 100%;
      height: 100%;
      opacity: 0.9;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all ease-in-out 0.28s;
    }

    &:hover {
      a {
        opacity: 1;
        transform: translateX(0);
      }

      img {
        opacity: 1;
        transform: scale(0.9);
      }
      .product__card__image__img {
        background-size: 75%;
      }
    }

    @media screen and (max-width: $small-breakpoint) {
      height: 60vh;
    }
  }
}
