a {
  color: inherit;
}

img {
  max-width: 100%;
}

main {
  min-height: calc(100vh - #{$header});
  position: relative;
  @extend .side-padd;
}

.btn {
  background-color: $accentColor;
  color: $black;
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
  border: none;
  outline: 0;
  cursor: pointer;

  &:hover {
    background-color: darken($accentColor, 10%);
    transition: all ease-in-out 0.3s;
  }
}
