$serifFamily: 'Libre Baskerville', serif;
$sansFamily: 'Ubuntu', sans-serif;
$icons: 'Material Icons';

//theme
$primaryColor: #202020;
$secondaryColor: #3f3f3f;
$accentColor: #ffdf6c;
$backgroundColor: #ffffff;

$greyMed: #707070;
$greyLight: #c3c3c3;
$greyLightest: #ebebeb;
$white: #ffffff;
$black: #000000;

$header: 100px;

$borderRadiusS: 3px;
$borderRadiusM: 5px;
$borderRadiusL: 8px;
$boxShadow: 0 0 2px 0
  rgba(
    $color: #000000,
    $alpha: 0.3,
  );

$large-breakpoint: 1024px;
$medium-breakpoint: 768px;
$small-breakpoint: 560px;

.side-padd {
  @media screen and (min-width: $large-breakpoint) {
    padding: 3rem 10vw;
  }
  @media screen and (max-width: $large-breakpoint) {
    padding: 3rem 8vw;
  }
  @media screen and (max-width: $medium-breakpoint) {
    padding: 3rem 5vw;
  }
  @media screen and (max-width: $small-breakpoint) {
    padding: 2rem 1rem;
  }
}

.header-padd {
  @media screen and (min-width: $small-breakpoint) {
    padding: 0 3rem;
  }
  @media screen and (max-width: $small-breakpoint) {
    padding: 0 1rem;
  }
}
