@import 'styles/_variables.scss';

.form-control {
  align-self: stretch;
  margin-bottom: 2rem;

  .label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .error {
    font-family: $sansFamily;
    font-size: 0.8rem;
    color: $error;
  }

  input {
    width: 100%;
    height: 3rem;
    border-radius: 3px;
    padding: 0 1rem;
    border: 1px solid $greyLight;
    outline: none;

    &::placeholder {
      font-size: 1.2rem;
      font-family: $serifFamily;
      font-style: italic;
      color: $greyLight;
    }
  }
}
