@import 'styles/_mixins.scss';
.backdrop {
  @include fade-in(0.24s);
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}
