@import 'styles/_variables.scss';

.products {
  cursor: default;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
      content: '';
      width: calc(94% / 3);
    }
  }
}
