.cart-item {
  display: flex;
  margin-bottom: 4rem;

  &__image {
    flex: 0 0 120px;
  }

  &__description {
    flex: 1;
    padding-left: 3rem;
    &__quantity-ctrl {
      display: flex;
      align-items: center;
      input {
        margin: 0 0.1rem;
      }
    }
  }
}
