@import 'styles/_variables.scss';
.cart-item {
  display: flex;
  margin-bottom: 6rem;
  position: relative;

  &__image {
    flex: 0 0 120px;
  }

  &__description {
    flex: 1;
    padding-left: 3rem;
    &__quantity {
      display: flex;
      align-items: center;
      transform: scale(0.9) translateX(-1.5rem);
      margin: 1rem 0;
      div {
        margin: 0 0.7rem;
      }
    }
    &__actions {
      display: flex;
      span {
        font-family: $sansFamily;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin-right: 1rem;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
        &:hover {
          color: $greyMed;
        }
      }
    }
  }
  &:not(:last-child):after {
    content: '';
    background-color: $greyLight;
    position: absolute;
    bottom: -3rem;
    height: 1px;
    width: 100%;
  }
}
