@import '../../../styles/_variables.scss';
.product-detail {
  display: flex;
  margin: auto;
  &__image {
    width: calc(70vh / 1.3);
    height: 70vh;
    position: relative;

    &__img {
      width: 100%;
      height: 100%;
      opacity: 0.9;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      overflow: hidden;
    }
    i {
      color: grey;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__description {
    flex: 1;
    padding-left: 4rem;

    &__text {
      margin: 2rem 0;
    }
  }
  // @media screen and (max-width: $large-breakpoint) {
  //   display: block
  // }

  @media screen and (max-width: $medium-breakpoint) {
    display: block;
  }
}
