@mixin fade-in($time: 0.8s) {
  animation: fadeIn ease $time;
  -webkit-animation: fadeIn ease $time;
  -moz-animation: fadeIn ease $time;
  -o-animation: fadeIn ease $time;
  -ms-animation: fadeIn ease $time;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin slide-in($time: 0.8s) {
  animation: slideIn ease $time;
  -webkit-animation: slideIn ease $time;
  -moz-animation: slideIn ease $time;
  -o-animation: slideIn ease $time;
  -ms-animation: slideIn ease $time;
}
@keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-moz-keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-o-keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-ms-keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
