@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';

.empty-page {
  font-size: 1.1rem;
  color: $greyMed;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2rem;
  @include fade-in;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    height: 40vh;
    width: 40vh;

    > * {
      max-width: 60%;
      opacity: 0.1;
    }
  }
  &__title {
    color: $black;
  }
  &__description {
    color: $greyMed;
  }
  a {
    color: darken($accentColor, 30%);
  }
  @media screen and (max-width: $small-breakpoint) {
    margin-top: 1rem;
    &__icon {
      height: 30vh;
      width: 30vh;
      margin-bottom: 0;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }
}
