@import '../../styles/_variables.scss';

.products {
  cursor: default;

  &__grid {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: $secondaryColor;
    margin-bottom: 1rem;
  }
}
